
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
src/Build/
*_heat.wxs
*.jfm
debugInfo.txt
packages/

node_modules/

testimpactdata.sdf
*.ldf
*.LDF
*.orig
src/NDependOut/
*.local.*
*.docstates
*.chw
*.css.map
.idea

node_modules/
#Specific files
src/NHN.Palantir.Web/NHN.Palantir.Web.Publish.xml
src/NHN.Palantir.Web/ClientBin/NHN.Palantir.Web.DynamicGUI.xap
src/NHN.Palantir.WebServices.Implementations/NHN.Palantir.WebServices.Implementations.Publish.xml
src/NHN.Palantir.Web/**/dist
src/UpgradeLog*.htm
src/NHN.Palantir.Database.Schema/NHN.Palantir.Database.Schema.dbmdl
.vs
src/NHN.Palantir.Log.Database.Schema/NHN.Palantir.Log.Database.Schema.dbmdl
/CertificateService/NHN.CertificateService.Host/wwwroot/docs

appsettings.Development.json
CertificateService/NHN.CertificateService/Properties/launchSettings.json
CertificateService/NHN.Cppa/Properties/launchSettings.json

CertificateService/NHN.*/Logs

package/
publish/
