<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="rabbitmqext" value="https://helsegitlab.nhn.no/api/v4/projects/254/packages/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <rabbitmqext>
      <add key="Username" value="rabbitmq-nuget-package" />
      <add key="ClearTextPassword" value="xxx" /> <!--Get a token from helsegitlab-->
    </rabbitmqext>
  </packageSourceCredentials>
</configuration>
